* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    display: flex;
    font-family: Roboto, Oxygen, Ubuntu;

}

.sidebar {
    display: flex;
    background-image: url("images_fonts/background.jpg");
    background-size: cover;
    background-repeat: repeat;
    flex: 0.35;
    height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    background-color: beige;
    flex: 0.65;
    height: 100vh;
}

.header, .footer {
    background-color: aliceblue;
}

.header {
    display: flex;
    justify-content: start;
    flex: 0.38;
}

.header h2 {
    max-width: 45rem;
    margin: 9rem 0rem 0rem 3rem;
}

.main {
    display:flex;
}

/* fonts */
h2 {
    font-weight: 500;
}